doctype html
html(lang="en")
    head
        - var author = "clonalejandro"
        - var twitter = "clonalejandro11"
        - var title = `${webName} | Admin Panel`

        meta(name="DC.title", content=`${title}`)
        meta(property="og:title", content=`${title}`)
        meta(name="twitter:title", content=`${title}`)
        meta(charset="utf-8")
        meta(lang="es")
        meta(http-equiv="Content-Language", content="en")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="description", content=`${description}`)
        meta(name="keywords", content=`${tagsString}`)
        meta(name="author", content=`${author}`)
        link(rel="apple-touch-icon", sizes="120x120", alt=`${title}`, href=`${logo}?size=120`)
        link(rel="apple-touch-icon", sizes="152x152", alt=`${title}`, href=`${logo}?size=152`)
        link(rel="icon", href=`${logo}`, alt=`${title}`, type="image/png")
        link(rel="shortcut icon", href=`${logo}`, alt=`${title}`, type="image/png")
        meta(name="robots", content="all")
        meta(name="distribution", content="global")
        meta(name="google", content="translate")
        meta(name="DC.creator", content=`${author}`)
        meta(name="DC.description", content=`${description}`)
        meta(property="og:description", content=`${description}`)
        meta(property="og:type", content="website")
        meta(property="og:url", content=`${webURI}`)
        meta(property="og:image", content=`${logo}`)
        meta(property="og:site_name", content=`${title}`)
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content=`${twitter}`)
        meta(name="twitter:description", content=`${description}`)
        meta(name="twitter:image", content=`${logo}`)
        meta(name="twitter:url", content=`${webURI}`)
        meta(name="generator", content="clonacms")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")
        
        title #{title}
        
        include helpers/cookies.pug
        include helpers/css.pug
        link(rel='stylesheet', href="assets/css/adminpanel.css")
        link(rel='stylesheet', href="assets/css/menu.css")
        body
            //Modal Room create
            div.modal#modalCreateRoom(role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            h5.modal-title Room creator
                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                span(aria-hidden="true") &times;
                        div.modal-body
                            form(onsubmit="processCreateRoom()")
                                div.form-group
                                    input.form-control(placeholder="Room name", maxlength=32, name="roomName", required)
                        div.modal-footer
                            button.btn.btn-danger(data-dismiss="modal") Close
                            button.btn.btn-success(type="submit") Create!
            
            //Modal Room join
            div.modal#modalJoinRoom(role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            h5.modal-title Join a room
                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                span(aria-hidden="true") &times;
                        div.modal-body
                            form(onsubmit="processJoinRoom()")
                                div.form-group
                                    input.form-control#auto(placeholder="Room name", autocomplete="off", maxlength=32, name="roomName", required)
                        div.modal-footer
                            button.btn.btn-danger(data-dismiss="modal") Close
                            button.btn.btn-success(type="submit") Join!

            //Modal Room join
            div.modal#modalDeleteProfile(role="dialog")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            h5.modal-title Delete profile
                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                span(aria-hidden="true") &times;
                        div.modal-body
                            | Are you sure to delete your profile?
                        div.modal-footer
                            button.btn.btn-danger.delete Delete
                            button.btn.btn-primary(data-dismiss="modal") Cancel
                    
            div#wrapper
                nav.navbar.navbar-expand-lg.navbar-light.bg-light
                    a.navbar-brand(href="/")
                        img(src="", data-src=`${logo}`, alt=`${webName}`)
                    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar", aria-controls="navbar", aria-expanded="false", aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    div.collapse.navbar-collapse#navbar
                        ul.navbar-nav.mr-auto
                            li.nav-item
                                a.nav-link(href="#") #{user.username}
                            li.nav-item.dropdown
                                a(href="#", role="button", id="roomDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                    i.fa.fa-bed.nav-icon
                                div.dropdown-menu(aria-labelledby="roomDropdown")
                                    a.dropdown-item#createRoom(href="#") Create room 
                                        i.fa.fa-plus
                                    a.dropdown-item#editRoom(href="#") Manage rooms 
                                        i.fa.fa-pencil
                                    a.dropdown-item#joinRoom(href="#") Join a room 
                                        i.fa.fa-sign-in
                            if isAdmin
                                li.nav-item.dropdown.active
                                    a(href="#", role="button", id="serverDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                        i.fa.fa-connectdevelop.nav-icon
                                    div.dropdown-menu(aria-labelledby="serverDropdown")
                                        a.dropdown-item#joinPanel(href="#") Join a AdminPanel 
                                            i.fa.fa-tachometer
                                        a.dropdown-item(href="#") more... 
                                            i.fa.fa-question
                        ul.nav.navbar-nav.navbar-right
                            li.dropdown
                                a(href="#", role="button", id="userDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                    i.fa.fa-user.nav-icon
                                div.dropdown-menu(aria-labelledby="userDropdown")
                                    a#settings.dropdown-item(href="#") Settings 
                                        i.fa.fa-cog
                                    a#deleteProfile.dropdown-item(href="#") Delete profile 
                                        i.fa.fa-trash
                                    a#logout.dropdown-item(href="#") Logout 
                                        i.fa.fa-sign-out
                //Rest
                div.container
                    //Notification
                    div#notifications.container
                        include helpers/noscript.pug
                        if msg
                            div.alert.alert-danger.alert-dismissible
                                button.close(type="button", data-dismiss="alert") &times;
                                strong Oops an error has occurred
                                p The error trace is: #{msg}
                    header
                        h3 Admin Panel
                    div.container#main

            include helpers/js.pug
            script(src="assets/js/adminpanel.js")
            script(src="assets/js/menu.js")