doctype html
html
	head
		- var author = "clonalejandro"
		- var twitter = "clonalejandro11"
		- var title = `Terms Of Service`
		
		meta(name="DC.title", content=`${title}`)
		meta(property="og:title", content=`${title}`)
		meta(name="twitter:title", content=`${title}`)
		meta(charset="utf-8")
		meta(lang="es")
		meta(http-equiv="Content-Language", content="en")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="description", content=`${description}`)
		meta(name="keywords", content=`${tagsString}`)
		meta(name="author", content=`${author}`)
		link(rel="apple-touch-icon", sizes="120x120", alt=`${title}`, href=`${logo}?size=120`)
		link(rel="apple-touch-icon", sizes="152x152", alt=`${title}`, href=`${logo}?size=152`)
		link(rel="icon", href=`${logo}`, alt=`${title}`, type="image/png")
		link(rel="shortcut icon", href=`${logo}`, alt=`${title}`, type="image/png")
		meta(name="robots", content="all")
		meta(name="distribution", content="global")
		meta(name="google", content="translate")
		meta(name="DC.creator", content=`${author}`)
		meta(name="DC.description", content=`${description}`)
		meta(property="og:description", content=`${description}`)
		meta(property="og:type", content="website")
		meta(property="og:url", content=`${webURI}`)
		meta(property="og:image", content=`${logo}`)
		meta(property="og:site_name", content=`${title}`)
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content=`${twitter}`)
		meta(name="twitter:description", content=`${description}`)
		meta(name="twitter:image", content=`${logo}`)
		meta(name="twitter:url", content=`${webURI}`)
		meta(name="generator", content="clonacms")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
		meta(name="theme-color", content="#000000")
		
		title #{title}
		
		include helpers/cookies.pug	
		include helpers/css.pug
		link(rel='stylesheet', href="assets/css/tos.css")
		body
			div.container#notifications
				include helpers/noscript.pug
			div.container
				div#header
					h1 Terms and Conditions ("Terms")
					p Last updated: May 06, 2019
					p Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the #{webURI} website (the "Service") operated by Chat online ("us", "we", or "our").
					p Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
					p By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. The Terms and Conditions agreement  for Chat online has been created with the help of 
						a(href='https://termsfeed.com/terms-conditions-generator/') TermsFeed Terms and Conditions Generator
						| .
				div#accounts
					h2 Accounts
					p When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
					p You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.
					p You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.
				div#links
					h2 Links To Other Web Sites
					p Our Service may contain links to third-party web sites or services that are not owned or controlled by Chat online.
					p Chat online has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Chat online shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
					p We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
				div#law
					h2 Governing Law
					p These Terms shall be governed and construed in accordance with the laws of Spain, without regard to its conflict of law provisions.
					p Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
				div#changes
					h2 Changes
					p We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
					p By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
				div#contact
					h2 Contact Us
					p If you have any questions about these Terms, please contact us.
			include helpers/js.pug